<html>
    <head>
        <link rel="stylesheet" href="/css/tailwind.css" type="text/css">
        <title>Jose's Blog</title>
    </head>
    <body class="bg-primary-300 w-full max-h-screen overflow-hidden font-body">
        
        <%- include('header'); -%>

        <main class="h-full w-full flex items-center pb-4">
            <div class="mx-auto w-5/6 text-center">
                <div class="block text-4xl text-secondary-100">
                    <a href="#" class="text-hawksGreen-100">Work in progress</a>...(blog)
                </div>
            </div>
        </main>
    </body>
</html>