<header class="border-b border-gray-800 sm:flex sm:justify-between sm:px-4 sm:py-3">
    <div class="px-4 py-3 sm:p-0 flex items-center justify-between">
        <div>
            <h1 class="text-secondary-100 text-2xl">
                <a href="/">Jose Castro</a>
            </h1>
        </div>
        <div class="sm:hidden">
            <button type="button" onclick="toggleMenu()" class="mr-1 text-sand-100 hover:text-white focus:text-white focus:outline-none">
                <svg id="hamburger" class="w-6 h-6 stroke-current stroke-2 block" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                <svg id="close" class="w-6 h-6 stroke-current stroke-2 hidden" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
    </div>
    <div id="dropDown" class="px-2 pt-2 pb-4 hidden sm:flex sm:p-0">
        <a href="/blog" class="block px-2 py-1 text-sand-100 rounded hover:bg-primary-200">Blog</a>
        <a href="/projects" class="block px-2 py-1 mt-1 text-sand-100 rounded hover:bg-primary-200 sm:mt-0 sm:ml-2">Projects</a>
        <a href="/contact" class="block px-2 py-1 mt-1 text-sand-100 rounded hover:bg-primary-200 sm:mt-0 sm:ml-2">Contact</a>
    </div>
</header>
<script src="/scripts.js"></script>