<html>
    <head>
        <link rel="stylesheet" href="/css/tailwind.css" type="text/css">
        <title>Jose's Portfolio</title>
    </head>
    <body class="bg-primary-300 w-full max-h-screen overflow-hidden font-body">
        
        <%- include('header'); -%>

        <main class="h-full w-full flex items-center pb-4">
            <div class="mx-auto w-5/6 text-center">
                <div class="block mb-4">
                    <h1 class="text-secondary-200 text-4xl">
                        Hello, I'm <span class="text-secondary-100">Jose Castro</span>.
                        I build full-stack web applications.
                    </h1>
                </div>
                <div class="block text-xl font-sans font-bold text-secondary-100">
                    My <a href="#" class="text-sand-200">projects</a>.
                </div>
            </div>
        </main>
    </body>
</html>