<html>
    <head>
        <title>Freddy Thanks You</title>
    </head>
    <body>
        <div>
            Thank you <%= contact.firstName %> <%= contact.lastName %>.
        </div>
    </body>
</html>